<template name="User_Footer">
  <footer>
    <div style="padding-top: 15px" class="ui center aligned container">
        <hr>
      <a style="color: black" href="http://manoabookswap.github.io"><i class="large github alternate icon"></i><br>Github</a><br><br>
      <div class="ui three column grid container">
        <div class="column">
          <a style="color: black" href="{{pathFor 'Contact_Us' username=routeUserName}}">Contact Us</a><br/>
        </div>
        <div class="column">
          <a style="color: black" href="{{pathFor 'FAQ_Page' username=routeUserName}}">FAQ</a> <br/>
        </div>
        <div class="column">
          <a style="color: black" href="{{pathFor 'Terms_Of_Service' username=routeUserName}}">TOS</a> <br/>
        </div>
      </div>
      <br>
        Sponsored by:<br>
        Department of Information and Computer Sciences <br />
        University of Hawaii<br />
        Honolulu, HI 96822 <br />

    </div>
  </footer>
</template>
