<template name="User_Footer">
  <footer>
    <div style="padding-top: 15px" class="ui center aligned container">
        <hr>

      <button class="ui button">
        <a style="color: black" href="http://manoabookswap.github.io"><i class="large github alternate icon"></i><br>Github</a><br>
      </button>
      <br><br>

      <div class="ui three column grid container">
        <div class="column">
          <button class="ui button">
            <a style="color: black" href="{{pathFor 'Contact_Us' username=routeUserName}}">Contact Us</a><br/>
          </button>
        </div>

        <div class="column">
          <button class="ui button">
            <a style="color: black" href="{{pathFor 'FAQ_Page' username=routeUserName}}">FAQ</a> <br/>
          </button>
        </div>

        <div class="column">
          <button class="ui button">
            <a style="color: black" href="{{pathFor 'Terms_Of_Service' username=routeUserName}}">TOS</a> <br/>
          </button>
        </div>
      </div>
      
      <br>
        Sponsored by:<br>
        Department of Information and Computer Sciences <br />
        University of Hawaii<br />
        Honolulu, HI 96822 <br />

    </div>
  </footer>
</template>
