<template name="User_Footer">
  <footer>
    <div style="padding-top: 15px" class="ui center aligned container">
        <hr>
      <a href="http://manoabookswap.github.io">Manoa Book Swap GitHub</a><br>
      <a href="{{pathFor 'Contact_Us' username=routeUserName}}">Contact Us</a><br/>
      <a href="{{pathFor 'FAQ_Page' username=routeUserName}}">FAQ</a> <br/>
      <a href="{{pathFor 'Terms_Of_Service' username=routeUserName}}">TOS</a> <br/>
        Sponsored by:<br>
        Department of Information and Computer Sciences <br />
        University of Hawaii<br />
        Honolulu, HI 96822 <br />

    </div>
  </footer>
</template>
