.welcome {
  text-align: center;
  margin-top: 90px;
  color: white;
  text-shadow: 0 0 30px #000;
}

.h1 {
  font-size: 40px;
}

.row {
  padding: 7px;
}

.buy-sell {
  background: rgba(255,255,255,0.25);
  border-radius: 0px;
  color: white;
  font-size: 22px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 65px;
}

.icon {
  color: white;
}

.login {
  margin-top: 35px;
  border-radius: 3px;
}

.ui.button {
  background-color: #42B4E6;
  color: white;
  border-radius: 0px;
}
